body {
  font-family: sans-serif;
}
.top-part {
  font-size: 14px;
  padding: 20px;
}
.day {
  padding: 0;
  line-height: 17px;
  text-align: center;
}

.search {
  padding: 0;
  line-height: 30px;
}

#key-part {
  background-color: rgb(173, 216, 230);
}
.key-emoji {
  font-size: 100px;
  text-align: center;
}
#key-emoji-place {
  text-align: center;
  font-size: 14px;
  font-weight: 100px;
  color: rgb(128, 128, 128);
}
.weather-details {
  font-size: 18px;
  font-weight: 100px;
  line-height: 30px;
}
#sky-data {
  line-height: 60px;
}
.emphasis {
  font-weight: bold;
}
#forecast-part {
  background-color: rgb(220, 220, 220);
}
#searchInput {
  padding: auto 0;
  border-radius: 5px;
  border-width: 1px;
}
.search-button {
  font-size: 14px;
}
#celsius {
  text-decoration: none;
}

#fahrenheit {
  text-decoration: none;
}
#reference {
  font-size: 12px;
  text-align: center;
}
